@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@* 
@{ var selection = Model.Content.AncestorOrSelf(1).Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children; }

@{var site = Model.Content.Site();}
 
@{ var status = (umbraco.library.GetPreValueAsString(selection.GetPropertyValue<int>("projectStatus"))=="Completed"); }
 
<ul class="navbar-nav ml-auto">
    
    @foreach(var node in site.Children)
    {
    <li class="nav-item"> <a class="nav-link" href="@node.Url">@node.Name</a> </li>
    }


<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Dropdown button
  </button>
  <div class="dropdown-menu">
     
    
    @foreach(var item in selection)
    {
     <a class="dropdown-item" href="@item.Url">@item.Name</a>
}
  </div>
</div>
</ul>


*@

@{ 
    var site = Model.Content.Site();
    //var selection = site.Children.Where(x => x.IsVisible()).ToArray();
    
    // Main Menu
    var selection = Model.Content.AncestorOrSelf(1).Where("Visible");
    
    // Dropdown
    var projectDropdown = Model.Content.Site().Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children.Where("Visible").OrderBy("projectTitle");
  
 
}


<ul class="navbar-nav ml-auto">

    @foreach(var menuItem in site.Children.Where("UmbracoNaviHide == false"))
    {
        if (menuItem.Name != "Projects Overview")

        {
            <li class="@(menuItem.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                <a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
            </li>
            
        }
        else
        {
          <li class="nav-item dropdown @(menuItem.IsAncestorOrSelf(Model.Content) ? " active" : null)">
           <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alle Projekter<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
                   
            @foreach (var dropdownItem in menuItem.Children().Where(x => x.IsVisible()))
            { 
            if (dropdownItem.DocumentTypeAlias == "projectItem")
                            {
             if (umbraco.library.GetPreValueAsString(dropdownItem.GetPropertyValue<int>("projectStatus")) == "Completed")
             {
                    <li>
                    <a class="dropdown-item" href="@dropdownItem.Url">@dropdownItem.Name</a>
                    </li>    
              }          
            }
             }
                    
           </ul>           
         </li>
    }
}
</ul>


